<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>Charles Babbage</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
     <link href="css/styles.css" type="text/css" rel="stylesheet" />

  </head>  
  <body>    
     
  
    <section>      
      <article>
        <h2>Charles Babbage</h2>
        <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias</p>
        <div>
        <a href="http://localhost:3030" > volver al inicio</a>
          <p>Profesor Matematico</p>
          <img src="/img/babbage.jpg" alt="paisaje">          
        </div>
      </article>      
    </section>
   
  </body>  
</html>