<html lang="es">  
  <head>    
    <title>Tim Berners-Lee</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
     <link href="css/styles.css" type="text/css" rel="stylesheet" />

  </head>  
  <body>    
     
  
    <section>      
      <article>
        <h2>Tim Berners-Lee</h2>
        <a href="http://localhost:3030" > volver al inicio</a>
        <p>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990</p>
        <div>
          <p>Científico de la computación</p>
          <img src="/img/tim-berners-lee.jpg" alt="paisaje">          
        </div>
      </article>      
    </section>
   
  </body>  
</html>