<html lang="es">  
  <head>    
    <title>Margaret Hamilton</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
     <link href="css/styles.css" type="text/css" rel="stylesheet" />

  </head>  
  <body>    
     
  
    <section>      
      <article>
        <h2>Margaret Hamilton</h2>
        <a href="http://localhost:3030" > volver al inicio</a>
        <p>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo</p>
        <div>
          <p>Matemática</p>
          <img src="/img/margaret-hamilton.jpg" alt="paisaje">          
        </div>
      </article>      
    </section>
   
  </body>  
</html>