<html lang="es">  
  <head>    
    <title>hopper Grace</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
      <link href="css/styles.css" type="text/css" rel="stylesheet" />

  </head>  
  <body>    
     
  
    <section>      
      <article>
        <h2>Grace Murray Hopper</h2>
        <a href="http://localhost:3030" > volver al inicio</a>
<p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I</p>
        <div>
          <p>Científica de la computación</p>
          <img src="/img/gracehopper.jpg" alt="paisaje">          
        </div>
      </article>      
    </section>
   
  </body>  
</html>