<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>Título de la WEB</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <link href="css/styles.css" type="text/css" rel="stylesheet" />
  </head>  
  <body>    
     
  
    <section>      
      <article>
        <h2>HOROES DE LA PROGRAMCION!!</h2>
        <p>Este es el contenido principal de mi web</p>
        <div >

      <a href="http://localhost:3030/lovelace" > ir a su pagina</a>

        <p>Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica</p>
          <img src="/img/Ada-Lovelace.jpg" alt="paisaje">          
        </div>
             <div >
 <a href="http://localhost:3030/babbage" > ir a su pagina</a>

        <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias</p>

          <img src="/img/babbage.jpg" alt="paisaje">          
        </div>
             <div >
 <a href="http://localhost:3030/berners-lee" > ir a su pagina</a>

        <p>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990</p>

          <img src="/img/tim-berners-lee.jpg" alt="paisaje">          
        </div>
             <div >
 <a href="http://localhost:3030/halmiton" > ir a su pagina</a>

       <p>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, ​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo</p>

          <img src="/img/margaret-hamilton.jpg" alt="paisaje">          
        </div>
             <div >
 <a href="http://localhost:3030/hopper" > ir a su pagina</a>

<p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I</p>

          <img src="/img/gracehopper.jpg" alt="paisaje">          
        </div>
          <div >
 <a href="http://localhost:3030/clarke" > ir a su pagina</a>

<p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial</p>

          <img src="/img/joan-clarke.jpg" alt="paisaje">          
        </div>
                
           
             <div >
           <a href="http://localhost:3030/turing" > ir a su pagina</a>

<p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna</p>

          <img src="/img/turing.jpg" alt="paisaje">          
      
      </article>      
    </section>
   
  </body>  
</html>