<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>Ada Lovelace</title>    
    <meta charset="UTF-8">
  
    <meta name="title" content="Título de la WEB">
      <link href="css/styles.css" type="text/css" rel="stylesheet" />

  </head>  
  <body>    
     
  
    <section>      
      <article>
        <h2>Ada Lovelace</h2>
        <a href="http://localhost:3030" > volver al inicio</a>
        <p>Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica</p>
        <div>
          <p>la primera programadora</p>
          <img src="/img/Ada-Lovelace.jpg" alt="paisaje">          
        </div>
      </article>      
    </section>
   
  </body>  
</html>