<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>Alan Turing</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
     <link href="css/styles.css" type="text/css" rel="stylesheet" />

  </head>  
  <body>    
     
  
    <section>      
      <article>
        <h2>Alan Turing</h2>
<p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna</p>
        <div>
          <p>Matemático</p>
          <img src="/img/turing.jpg" alt="paisaje">          
        </div>
      </article>      
    </section>
   
  </body>  
</html>